table {
    border-collapse: collapse;
    width: 100%;
}
table,th,td{
    border: 2px solid black;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: rgba(51,51,255,0.5)}

th {
    /*background-color: #4CAF50;*/
    color: violet;
}