* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background: black;
    height: 50px;
}



/*Mobile < 740PX*/
@media only screen and (max-width: 739px){
    .col-s-1 {width: 8.3333333333%;display: flex;flex-wrap: wrap}
    .col-s-2 {width: 16.6666666667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.3333333333%;}
    .col-s-5 {width: 41.6666666667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.3333333333%;}
    .col-s-8 {width: 66.6666666667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.3333333333%;}
    .col-s-11 {width: 91.6666666667%;}
    .col-s-12 {width: 100%;display: flex;}

    .col-s-12 > a {
        margin: auto;
        text-decoration: none;
        color: white;
        font-family: Arial,sans-serif;
        text-transform: uppercase;
        /*line-height: 50px;*/
    }
    .header.col-s-12:hover {
        background-color: #ccc;
    }

    .header.col-s-12:hover a {
        color: black;
    }
}

/*Tablet >= 740px and < 1024px*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {

}

/*!* PC width >= 1024px *!*/
@media only screen and (min-width: 1024px){
    .col-m-1 {width: 8.3333333333%;display: flex}
    .col-m-2 {width: 16.6666666667%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.3333333333%;}
    .col-m-5 {width: 41.6666666667%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.3333333333%;}
    .col-m-8 {width: 66.6666666667%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.3333333333%;}
    .col-m-11 {width: 91.6666666667%;}
    .col-m-12 {width: 100%;}

    .header .col-m-1:hover {
        background-color: #ccc;
    }

    .header .col-m-1:hover a {
        color: black;
    }
    .col-m-1 > a {
        margin: auto;
        text-decoration: none;
        color: white;
        font-family: Arial,sans-serif;
        text-transform: uppercase;
    }
}